@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*=========================================== COLOR AND FONT SIZE ROOTS ========================================== */
:root {
    --black: #000;
    --white: #fff;
    --dark-grey: #8497B4;
    --light-white: #86A1F0;
    --blue: #1643C3;
    --off-grey: #D4E3F9;
    --light-blue: #4878FF;
    --grey: #CFD4E4;

    --font-sm: 14px;
    --font-base: 16px;
    --font-md: 18px;
    --font-2md: 22px;
    --font-lg: 18px;
    --font-1lg: 38px;
    --font-xl: 28px;
    --font-2xl: 28px;
    --font-3xl: 46px;
}

/*=================================================  COLORS =========================================== */

.text_black {
    color: var(--black);
}

.text_blue {
    color: var(--blue)
}

.text_light_blue {
    color: var(--light-blue)
}

.text_white {
    color: var(--white);
}

.text_grey {
    color: var(--grey);
}

.text_off_grey {
    color: var(--off-grey);
}

.bg_black {
    background-color: var(--black);
}

.bg_primary {
    background-color: var(--primary);
}

.bg_raisin_black {
    background-color: var(--raisin-black);
}

/*=========================================== FONT-SIZES ========================================== */

.text_sm {
    font-size: var(--font-sm);
}

.text_base {
    font-size: var(--font-base);
}

.text_md {
    font-size: var(--font-md);
}

.text_2md {
    font-size: var(--font-2md);
}

.text_lg {
    font-size: var(--font-lg);
}

.text_1lg {
    font-size: var(--font-1lg);
}

.text_xl {
    font-size: var(--font-xl);
}

.text_2xl {
    font-size: var(--font-2xl);
}

.text_3xl {
    font-size: var(--font-3xl);
}

/*===========================================  LINE HEIGHT ========================================== */

.leading_112 {
    line-height: 112%;
}

.leading_120 {
    line-height: 120%;
}

.leading_150 {
    line-height: 150%;
}

.leading_160 {
    line-height: 160%;
}

/*=========================================== OPACITY CLASSES ========================================== */
.opacity_80 {
    opacity: 0.8;
}

/*=========================================== COMMON CLASSES ========================================== */
.cursor_pointer {
    cursor: pointer;
}

.pointer_event_none {
    pointer-events: none;
}

.ff_raleway {
    font-family: "Raleway", sans-serif;
}

@font-face {
    font-family: 'neuemachinalight';
    src: url('../fonts/NeueMachina-Light.otf');
}

@font-face {
    font-family: 'neuemachinaregular';
    src: url('../fonts/NeueMachina-Regular.otf');
}

@font-face {
    font-family: 'neuemachinaultrabold';
    src: url('../fonts/NeueMachina-Ultrabold.otf');
}

.font-neuelight {
    font-family: 'neuemachinalight';
}

.font-neueregular {
    font-family: 'neuemachinaregular';
}

.font-neueubold {
    font-family: 'neuemachinaultrabold';
}

p {
    margin-bottom: 0 !important;
}

.blue_dots {
    width: 10px;
    height: 10px;
    background-color: var(--blue);
    border-radius: 50%;
}

.dots_position {
    top: 4%;
    right: 5%;
}

.ampilfy_spacing {
    padding-top: 50px;
    padding-bottom: 100px;
}

.hero_top_spacing {
    padding-top: 42px;
}

/* ==============================================BUTTONS============================================== */
.nav_button {
    border: 1px solid var(--white);
    color: var(--white);
    border-radius: 8px;
    transition: 0.3s ease;
    width: 136px;
    height: 43px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none !important;
    text-decoration: none !important;
}

.header_layer {
    background-image: url("../images/header_bg_layer.webp");
}

.amplify_bg {
    background-image: url("../images/amilify_bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overflow-x-clip {
    overflow-x: clip;
}

.bg_stratergy {
    background-image: url("../images/bg_stratergy.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.stratergy_inner_line {
    opacity: 20%;
    height: 3px;
    border-radius: 18px;
}

/* =================================================WIDTHS================================================= */
.hero_heading {
    max-width: 100%;
}

.amplify_para {
    max-width: 554px;
}

.para_stratergy {
    max-width: 819px;
}

.max_w_968 {
    max-width: 968px;
}

.max_w_524 {
    max-width: 524px;
}

.max_w_413 {
    max-width: 413px;
}

/*===========================================ELLIPSE POSITIONS=========================================== */
.header_ellipse {
    position: absolute;
    top: -20%;
    left: 0;
    z-index: -1;
}

.clouds_layer {
    position: absolute;
    bottom: -29%;
    left: 0;
    z-index: 2;
}

.text_underline::before {
    content: "";
    position: absolute;
    display: flex;
    width: 100%;
    height: 1px;
    background-color: var(--white);
    bottom: 1px;
    z-index: 10;
}

.stratergy_cards {
    background: linear-gradient(124.24deg, rgba(19, 245, 255, 0.25) 7.19%, rgba(0, 66, 255, 0) 93.2%);
    box-shadow: 0px 4px 41px 0px #4281EE70;
    border: 1px solid;
    border-radius: 12px;
    padding-top: 17px;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 30px;
    max-width: 335px;
    margin-bottom: 48px;
    border-image-source: linear-gradient(214.55deg, #1643C3 2.85%, #9AB3F9 116.27%);
}

.innovation_tag {
    background: #6C67F133;
    width: 89px;
    height: 34px;
    border-radius: 8px;
}

/* ================================================IMAGES================================================ */
.hero_image {
    margin-top: 30px;
    max-height: 600px;
    max-width: 531px;
    object-fit: contain;
}



/*===========================================RESPONSIVE NAVBAR========================================== */

.hamburger_line_1 {
    position: relative;
    z-index: 20;
    display: flex;
    width: 30px;
    height: 5px;
    background: var(--white);
    transition: 0.4s;
}

.hamburger_line_2 {
    position: relative;
    z-index: 20;
    display: flex;
    width: 30px;
    height: 5px;
    background: var(--white);
    transition: 0.4s;
}

.hamburger_line_3 {
    position: relative;
    z-index: 20;
    display: flex;
    width: 30px;
    margin-left: auto;
    height: 5px;
    background: var(--white);
    transition: 0.4s;
}

.cross_line_1 {
    position: relative;
    z-index: 20;
    display: flex;
    right: 0;
    top: 0;
    width: 30px;
    height: 5px;
    transform: rotate(45deg);
    transition: 0.4s;
    background: var(--white) !important;
}

.cross_line_2 {
    position: relative;
    z-index: 20;
    display: none;
    width: 30px;
    height: 5px;
    background: var(--white) !important;
    transition: 0.4s;
}

.cross_line_3 {
    position: relative;
    z-index: 20;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    width: 30px;
    height: 5px;
    transform: rotate(-45deg);
    transition: 0.4s;
    background: var(--white) !important;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5px;
    transition: all 3s linear;
}



/* slider */
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: -5px !important;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    background-color: var(--grey);
    width: 17px;
    height: 7px;
    border-radius: 23px;
    transition: all 300ms ease;
}

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: var(--white);
    width: 51px !important;
    height: 7px !important;
    border-radius: 23px !important;
}

.tokenomics_spacing {
    padding-top: 78px;
}

.view_button {
    background: linear-gradient(93.3deg, #1643C3 10.24%, #369EFE 208.68%);
    border: none;
    color: white;
}

.tecnomics_1st_spacing {
    padding-left: 12px;
    padding-right: 12px;
}

.tecnomics_2nd_spacing {
    padding-left: 12px;
    padding-right: 12px;
}

.bg_2nd_tokenomics {
    background: linear-gradient(76.29deg, #1643C3 5.09%, #369EFE 88.75%);
}

/*=========================================== MEDIA QURIES ========================================== */
@media (min-width: 575.98px) {

    .hero_image {
        margin-top: 70px;
    }

    .hero_top_spacing {
        padding-top: 132px;
    }

    .tecnomics_1st_spacing {
        padding-left: 24px;
    }

    .tecnomics_2nd_spacing {
        padding-left: 24px;
    }
}

@media (min-width: 767.98px) {
    :root {
        --font-sm: 14px;
        --font-base: 16px;
        --font-md: 18px;
        --font-lg: 24px;
        --font-xl: 46px;
        --font-2xl: 40px;
        --font-3xl: 72px;
    }

    .ampilfy_spacing {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .tokenomics_spacing {
        padding-top: 178px;
    }

    .clouds_layer {
        position: absolute;
        bottom: -11%;
        left: 0;
        z-index: 2;
    }
}

@media (min-width: 991.98px) {
    .hero_top_spacing {
        padding-top: 162px;
    }

    .hero_heading {
        max-width: 342px;
    }

    .hero_image {
        margin-top: -60px;
        max-height: 887px;
        max-width: 631px;
    }

    .ampilfy_spacing {
        padding-top: 366px;
        padding-bottom: 324px;
    }

    .w_lg_50 {
        width: 50%;
    }

    :root {
        --font-sm: 14px;
        --font-base: 16px;
        --font-md: 18px;
        --font-lg: 24px;
        --font-xl: 46px;
        --font-2xl: 52px;
        --font-3xl: 85px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1164px !important;
    }

    .nav_button {
        border: 1px solid var(--blue);
        color: var(--blue);
    }

    .tecnomics_1st_spacing {
        padding-left: 150px;
    }

    .tecnomics_2nd_spacing {
        padding-left: 69px;
    }
}

@media (max-width: 991.9px) {
    .mobile_view {
        position: fixed;
        width: 100% !important;
        top: 0;
        left: -100%;
        background: var(--light-blue);
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        height: 100%;
        transition: all 0.4s ease-in-out;
        z-index: 11;
    }

    .show {
        left: 0 !important;
    }

    .hamburger_line_1,
    .hamburger_line_2,
    .hamburger_line_3 {
        background-color: var(--white);
    }
}